aukey
fpdf
img2pdf
keyboard
moviepy
opencv_python
pafy
pdfkit
pdfplumber
pedalboard
Pillow
PyAutoGUI
pycaw
pycodestyle
PyPDF2
pyperclip
pyshorteners
pytubefix
pywhatkit
qrcode
Requests
selenium
shazamio
soundfile
tqdm
ttkbootstrap
streamlit
gTTS
pydub
