aukey
fpdf
img2pdf
keyboard
matplotlib
moviepy
numpy
opencv_python
pafy
pdfkit
pedalboard
#Pillow==10.1.0
Pillow
PyAudio
pycodestyle
PyPDF2
pyperclip
pyshorteners
#pytubefix5.1
pytubefix
pywhatkit
qrcode
Requests
selenium
shazamio
soundfile
#tqdm6.5
tqdm
ttkbootstrap
