aukey==0.1.2
fpdf==1.7.2
img2pdf==0.5.1
keyboard==0.13.5
moviepy==2.1.1
opencv_python==4.10.0.84
pafy==0.5.5
pdfkit==1.0.0
pdfplumber==0.11.5
pedalboard==0.9.16
Pillow==11.1.0
PyAutoGUI==0.9.54
pycaw==20240210
pycodestyle==2.12.1
PyPDF2==3.0.1
pyperclip==1.9.0
pyshorteners==1.0.1
pytubefix==8.6.0
pywhatkit==5.4
qrcode==8.0
Requests==2.32.3
selenium==4.29.0
shazamio==0.8.0
soundfile==0.13.0
tqdm==4.67.1
ttkbootstrap==1.10.1
